In [1]:
import numpy as np
import pandas as pd

In [2]:
 #scraping data from the wikipedia page
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
#Removing Boroughs that are not assined
df = data[data.Borough != 'Not assigned']

In [4]:
#Getting the value of the Borough where Neighborhood is not assigned
#val = df.iloc[np.where(df['Neighborhood'] == 'Not assigned')]['Borough'].iloc[0]

In [ ]:
#Getting the Neighborhood which are not assigned
#not_assigned = df.iloc[np.where(df['Neighborhood'] == 'Not assigned')]['Neighborhood'].iloc[0]

In [4]:
#Filling the Neighborhood which is not assigned with Borough value
df['Neighborhood'] = np.where(df['Neighborhood'] == 'Not assigned', df['Borough'], df['Neighborhood'])

C:\Users\Muhammad\AppData\Local\Continuum\anaconda3\envs\main_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
 #Joining Neighborhoods of the same postcode
df = df.groupby('Postcode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))

In [6]:
#shape of the final data
df.shape

(103, 3)

In [7]:
df[df['Neighborhood'] == "Queen's Park"]

   Postcode           Borough  Neighborhood
85      M7A  Downtown Toronto  Queen's Park
93      M9A      Queen's Park  Queen's Park

In [8]:
df.head(10)

  Postcode      Borough                                     Neighborhood
0      M1B  Scarborough                                   Malvern, Rouge
1      M1C  Scarborough           Rouge Hill, Highland Creek, Port Union
2      M1E  Scarborough                Morningside, Guildwood, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      Ionview, Kennedy Park, East Birchmount Park
7      M1L  Scarborough                  Oakridge, Clairlea, Golden Mile
8      M1M  Scarborough  Scarborough Village West, Cliffcrest, Cliffside
9      M1N  Scarborough                      Birch Cliff, Cliffside West